.odd {
    background-color: #ebedec;
}

.even {
    background-color: var(--ion-background-color);
}

ion-col{ 
    ion-input{ 
        margin-top: 5px;
        border: solid 1px var(--ion-color-primary);
        border-radius: 10px;
    }
}

.right {
    float: right;
    margin-top: 7px;
}

ion-icon {
    color: var(--ion-color-primary);
}

p {
    color: black;
}

ion-card {
    margin: 1px;
}

