<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

<ion-app>
  <ion-menu side="start" *ngIf="this.authService.isAuthenticated">
    <ion-header>
      <ion-toolbar>
        <ion-img src="assets/icon/logo_transparent.png" class="logo"></ion-img>
        <ion-title>
          AllRecipes
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/recipes/tabs/browse-all"> 
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>Recipes</ion-label>
          </ion-item >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/shopping-list"> 
            <ion-icon name="list-circle-outline" slot="start"></ion-icon>
            <ion-label>Shopping List</ion-label>
          </ion-item >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/search"> 
            <ion-icon name="search-outline" slot="start"></ion-icon>
            <ion-label>Search</ion-label>
          </ion-item >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/saved-recipes">
            <ion-icon name="bookmark-outline" slot="start"></ion-icon>
            <ion-label>Saved recipes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button> 
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
