.white-background {
    background-color: white;
    margin: 20px 10px;
}

h6 {
    font-weight: bold;
    margin: 0 auto;
    color: var(--ion-color-secondary);
}

ion-card-title {
    color: var(--ion-color-secondary);
}